body
	font-family: $GothamPro 
	+f(36px,500,1)
	+font-smoothing
	min-width: 2400px 
	background-color: $blue
	
.title-sm
	font-family: $GothamPro 
	+f(36px,700,1)
	color: $blue

.head
	padding-bottom: 30px
	border-bottom: 3px solid $gray
	
.cta    
    font-family: GothamPro
    font-size: 72px
    font-weight: bold
    color: $white
    background-color: $red
    padding: 80px 113px
    text-transform: uppercase
    display: inline-block
    text-align: center
    +vcenter
