<div class="cont-modal" data-modal="contacts">
	<div class="cont-modal__container" data-modal-container>
		<div class="head">
			<h3 class="title-sm">Контакты</h3>
		</div>
		<!-- begin soc -->
		<ul class="cont-modal__soc-list soc-list">
			<li class="soc-list__item">
				<a href="#" class="soc-list__link">
					<span class="soc-list__icon">{{ mixins.icon('phone-red') }}</span>
					<span class="soc-list__text">+ 8 800 500 00 00</span>
				</a>
			</li>
			<li class="soc-list__item">
				<a href="#" class="soc-list__link">
					<span class="soc-list__icon">{{ mixins.icon('tel-red') }}</span>
					<span class="soc-list__text">brickpark@mail.ru</span>
				</a>
			</li>
			<li class="soc-list__item">
				<a href="#" class="soc-list__link">
					<span class="soc-list__icon">{{ mixins.icon('info-red') }}</span>
					<span class="soc-list__text">Инфо о сайте</span>
				</a>
			</li>
		</ul>
		<!-- end soc -->
	</div>
</div>
