{% import "partials/_mixins.html" as mixins %}
{% macro block(props) %}
<!-- begin footer -->
<footer class="footer">
	<div class="footer__inner inner">
		<!-- begin steps -->
		<ul class="steps">
			{% for item in [
				{
					check: true,
					text: "Клинкер"
				},
				{
					text: "Цеколь"
				},
				{
					lock: true,
					text: "Цеколь"
				},
				{
					lock: true,
					text: "Цеколь"
				},
				{
					lock: true,
					text: "Цеколь"
				},
				{
					lock: true,
					text: "Цеколь"
				}
				] %}
			<li class="steps__item {% if loop.index === 1 %}{% if props.class %} {{ props.class }}{% endif %}{% endif %}">
				{% if loop.index === 1 %}
				<a href="#" class="steps__link">
					<span class="steps__text">{{ item.text }}</span>
					{% if props.check %}
					{% if item.check %}<span class="steps__check">{{ mixins.icon('check') }}</span>{% endif %}
					{% endif %}
					{% if props.lock %}
					{% if item.lock %}<span class="steps__lock">{{ mixins.icon('lock') }}</span>{% endif %}
					{% endif %}
				</a>
				{% else %}
				<div class="steps__link">
					<span class="steps__text">{{ item.text }}</span>
					{% if props.check %}
					{% if item.check %}<span class="steps__check">{{ mixins.icon('check') }}</span>{% endif %}
					{% endif %}
					{% if props.lock %}
					{% if item.lock %}<span class="steps__lock">{{ mixins.icon('lock') }}</span>{% endif %}
					{% endif %}
				</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		<!-- end steps -->
	</div>
</footer>
<!-- end footer -->
{% endmacro %}