<!-- begin header -->
<header class="header">
	<div class="header__inner inner">
		<!-- begin logo -->
		<a href="#" class="header__logo logo">brick park</a>
		<!-- end logo -->
		<!-- begin soc -->
		<ul class="header__soc soc">
			<li class="soc__item">
				<a href="#" class="soc__link" data-modal-control="contacts">{{ mixins.icon('phone') }}</a>
			</li>
			<li class="soc__item">
				<a href="#" class="soc__link" data-modal-control="contacts">{{ mixins.icon('tel') }}</a>
			</li>
			<li class="soc__item">
				<a href="#" class="soc__link" data-modal-control="contacts">{{ mixins.icon('info') }}</a>
			</li>
		</ul>
		<!-- end soc -->
		<!-- begin nav -->
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item is-active">
					<a href="#" class="nav__link" data-modal-control="houses">Дома</a>
					<div class="menu" data-modal="houses">
							<h3 class="menu__title title-big">Выберите дом:</h3>
							<div class="menu__wrapper js-scroll-wrapper">
								{% include "partials/_menu-houses.html" %}
							</div>
					</div>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link" data-modal-control="interiors">Интерьеры</a>
					<div class="menu" data-modal="interiors">
							<h3 class="menu__title title-big">Выберите интерьер:</h3>
							<div class="menu__wrapper js-scroll-wrapper">
								{% include "partials/_menu-interiors.html" %}
							</div>
					</div>
				</li>
			</ul>
		</nav>
		<!-- end nav -->
	</div>
</header>
<!-- end header -->