<main class="home">
    <div class="home__video js-video" data-vide-bg="mp4: video/demo, poster: video/poster" data-vide-options="posterType: jpg, loop: true">
    </div>
    <div class="home__inner inner">
        <div class="home__text">
            <h1 class="home__title title">Собери дом своей мечты!</h1>
            <h4 class="home__type type">Дом «Норвегия»</h4>
        </div>
        <div class="home__cta">
            <button class="cta">создать дизайн дома</button>
        </div>
        
    </div>
</main>