{% set menu_items = [
    
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" },
    {"text": "Дом «Норвегия»", "image": "image_1.jpg", "link": "#" }
    
] %}

<div class="menu">
    <div class="menu__wrapper">
        <h3 class="menu__title">Выберите дом:</h3>
        <div class="menu__menu">
            {% for item in menu_items %}
                <a href="{{item.link}}" class="menu__item item" style="background-image: url('img/{{item.image}}')">
                    <h4 class="menu__item-text item-text title-sm">{{item.text}}</h4>
                </a>
            {% endfor %}
        </div>
    </div>
</div>