.title
    position: relative
    font-family: GothamPro
    font-size: 90px
    font-weight: 700
    line-height: 2
    color: $white
    position: relative
    margin-bottom: 100px    
    &:after
        content: ''
        position: absolute
        top: 100%
        left: 0
        width: 300px
        height: 10px
        background-color: $red
.type
    font-family: GothamPro
    font-size: 80px
    font-weight: 500
    color: $white

.cta    
    font-family: GothamPro
    font-size: 72px
    font-weight: bold
    color: $white
    background-color: $red
    padding: 80px 113px
    text-transform: uppercase
    display: inline-block
    text-align: center
    +vcenter

